.container {
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: beige;
    gap: 10px;
    grid-template-areas: 'header header header'
                       'nav nav nav'
                       'aside content content'
                       'aside section section'
                       'footer footer footer';
}
.container > div {
    background-color: green;
    font-size: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#one {
    grid-area: header;
}
#two {
    grid-area: nav;
}
#three {
    grid-area: aside;
}
#four {
    grid-area: content;
}
#five {
    grid-area: section;
}
#six {
    grid-area: footer;
}