.flex-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    flex-direction: column;
}

.flex-wrapper > div {
    background-color: green;
    height: auto;
    width: auto;
    max-width: 1000px;
    margin: 10px;
    padding: 10px;
}